:root {
  --letter-spacing: 0.1em;
  --line-height: 16px;
  --text-transform: uppercase;
}
.blue-color-icon {
  height: 102px;
  width: 156px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.white-color-icon {
  height: 337px;
  width: 538px;
  position: relative;
  overflow: hidden;
}
.features,
.private-label {
  text-decoration: none;
  position: relative;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  text-transform: var(--text-transform);
  color: inherit;
  display: inline-block;
  min-width: 98px;
  white-space: nowrap;
}
.menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}

.maps {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1em;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  min-width: 89px;
}
.menu-items3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.menu-child {
  height: 18px;
  width: 18px;
  position: relative;
  min-height: 18px;
}
.menu,
.menu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.menu {
  flex: 1;
  backdrop-filter: blur(4px);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: space-between;
  padding: var(--padding-6xs-5) 69px var(--padding-6xs-5) 68px;
  gap: var(--gap-xl);
}
.menu-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 21px 0 0;
}
.group-icon {
  height: 28.3px;
  width: 29px;
  position: relative;
  min-height: 28px;
}
.social-iconcircleprimarydri,
.social-iconcircleprimaryins,
.social-iconcircleprimarylin {
  height: 28px;
  width: 28px;
  position: relative;
  min-height: 28px;
}
.social-media-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 22px;
  opacity: 0;
}
.frame-parent,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}
.frame-wrapper {
  width: 828px;
  align-items: flex-start;
  padding: 4px 0 0;
  box-sizing: border-box;
}
.blue-color-parent,
.landing11-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.blue-color-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.landing11-inner {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 7px 0 var(--padding-9xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--button-black-size);
  color: var(--white);
  font-family: var(--button-black);
}
.ellipse-div,
.frame-child,
.frame-inner,
.frame-item {
  height: 28px;
  width: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-lightskyblue);
  transform: rotate(-90deg);
}
.ellipse-parent,
.landing11-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.ellipse-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.landing11-child {
  width: 444px;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) var(--padding-12xl);
  box-sizing: border-box;
}
.sc-1-icon {
  width: 822px;
  height: 1172px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.friendly-wipes,
.hygienic-safe-natural {
  margin: 0;
}
.hygienic-safe-natural-container {
  margin: 0;
  height: 220px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.logo-circle {
  position: absolute;
  top: 122px;
  left: 309px;
  backdrop-filter: blur(4px);
  border-radius: 50%;
  background-color: rgba(193, 223, 243, 0.5);
  width: 183px;
  height: 183px;
}
.f1-1-icon,
.f2-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.f1-1-icon {
  z-index: 2;
}
.logo-circle-parent {
  height: 800px;
  width: 1122px;
  position: absolute;
  margin: 0 !important;
  top: -425px;
  right: -422px;
}
.hygienic-safe-natural-envir-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.a-creative-solution {
  margin-top: 80px;
  width: 775px;
  position: relative;
  font-size: var(--h4-regular-size);
  line-height: 36px;
  font-weight: 400;
  font-family: var(--h4-regular);
  display: inline-block;
  max-width: 100%;
}
.frame-container,
.frame-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-div {
  flex: 1;
  flex-direction: column;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xl);
  box-sizing: border-box;
}
.button-title {
  height: 16px;
  flex: 1;
  position: relative;
  letter-spacing: 0.1em;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
}
.blue-button,
.frame-group,
.landing11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blue-button {
  width: 176px;
  border-radius: 20px;
  background-color: var(--primary-principal);
  overflow: hidden;
  flex-direction: row;
  padding: 10px 19px;
  box-sizing: border-box;
  opacity: 0;
  white-space: nowrap;
  font-size: var(--button-black-size);
  font-family: var(--button-black);
}
.frame-group,
.landing11 {
  flex-direction: column;
}
.frame-group {
  width: 889px;
  gap: var(--gap-23xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--h1-h1-concert-size);
  color: var(--white);
  font-family: var(--h1-h1-concert);
}
.landing11 {
  width: 100%;
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #38a3f1 32.1%, #3a50b3);
  overflow: hidden;
  padding: 72px 133px 51px;
  box-sizing: border-box;
  gap: 167px;
  line-height: normal;
  letter-spacing: normal;
}
.section_hygiene {
  max-width: 100%;
  background: white;
}
.section_hygiene_title {
  max-width: 100%;
  font-size: clamp(24px, 5vw, 100px);
  line-height: 1.1;
  font-weight: 500;
  font-family: "Mitr", sans-serif;
  color: #acd5ef;
  text-align: center;
  display: flex;
  justify-content: center; /* Center horizontally */
  height: 400px; /* Adjust height as needed */
}

.section_categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  background: #c1eaf3;
  height: 903px;
}

.section_categories .flex.relative {
  position: relative;
  height: 100%;
}
.categories {
  color: #3a50b3;
  font-size: 46px;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  text-align: left;
  padding-left: 50px;
  line-height: normal;
}
.text-gradient {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(90deg, #3a50b3, #37a3f1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(450%);
    opacity: 1;
  }
}

@keyframes slideInUp1 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown1 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftCard25 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideLeftCard50 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(50%);
    opacity: 1;
  }
}
@keyframes slideLeftCard75 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(75%);
    opacity: 1;
  }
}

@keyframes slidetostart2 {
  0% {
    transform: translateX(50%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slidetostart3 {
  0% {
    transform: translateX(75%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideAniVideoCard {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(450%);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes pod1 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes pod2 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes pod3 {
  from {
    transform: translate(-50%,-20%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes pod4 {
  from {
    transform: translate(50%,-20%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes pod5 {
  from {
    transform: translate(-50%,20%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes pod6 {
  from {
    transform: translate(50%,20%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes arrowUp {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    transform: translateY(50%);
    opacity: 1;
  }
}
@keyframes step3 {
  from {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  to {
    transform: translate(-30px, -70px);
    opacity: 1;
  }
}
@keyframes pods {
  0% {
    transform: translate(0,0);
    opacity: 1;
  }
  100% {
    transform: translate(0,100%);
    opacity: 0;
    display: hidden;
  }
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
    display: hidden;
  }
}

.slide-green {
  animation: pod1 500ms ease-in-out forwards;
}
.slide-blue {
  animation: pod2 500ms ease-in-out forwards;
}
.slide1{
  animation: pod3 500ms ease-in-out forwards;
}
.slide2{
  animation: pod4 500ms ease-in-out forwards;
}
.slide3{
  animation: pod5 500ms ease-in-out forwards;
}
.slide4{
  animation: pod6 500ms ease-in-out forwards;
}
.slide-out-right{
  animation: slideOutRight 1s ease-in-out forwards;
  animation-delay: 500ms !important;
}

.pods {
  animation: pods 1s ease-in-out forwards ;
}

.step3 {
  animation: step3 1s ease-in-out forwards;
}
.slide-in-up {
  animation: slideInUp 1s ease-in-out forwards;
}
.slide-in-down {
  animation: slideInDown 0.5s ease-in-out forwards;
}
.slide-in-up1 {
  animation: slideInUp1 1s ease-in-out forwards;
}
.slide-in-down1 {
  animation: slideInDown1 1s ease-in-out forwards;
}
.slide-out-up {
  animation: slideOutUp 0.5s ease-in-out forwards;
}
.arrow-up {
  animation: arrowUp 0.5s ease-in-out forwards;
}
.slide-in-left {
  animation: slideInLeft 2s ease-in-out forwards;
}

.slide-left-cards25 {
  animation: slideLeftCard25 0.5s ease-in-out forwards;
}

.slide-left-cards50 {
  animation: slideLeftCard50 0.5s ease-in-out forwards;
}

.slide-left-cards75 {
  animation: slideLeftCard75 0.5s ease-in-out forwards;
}

.slide-to-start2 {
  animation: slidetostart2 0.5s ease-in-out forwards;
}

.slide-to-start3 {
  animation: slidetostart3 0.5s ease-in-out forwards;
}

.document-ani-video-card {
  animation: slideAniVideoCard 0.5s ease-in-out forwards;
}

.slide-in-right {
  animation: slideInRight 2s ease-in-out forwards;
}

.wow-text {
  -webkit-text-stroke: 1.5px #3a50b3;
  color: #97caeb; /* Fill color of the text */
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.wicked-text {
  -webkit-text-stroke: 2px #3a50b3;
  color: white; /* Fill color of the text */
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.translate {
  transform: translateY(4rem);
}

.translateOnHover {
  transform: translateY(0);
}
@keyframes slideInLeft1 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInRight1 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slideInLeft1 1s forwards;
}
.slide-right {
  animation: slideInRight1 1s forwards;
}
.slide-left-1 {
  animation: slideInLeft 1s forwards;
}

.hidden.show-during-animation {
  display: block !important;
}

.delay {
  animation-delay: 0.5s;
}
.delay2 {
  animation-delay: 0.75s;
}
.delay3 {
  animation-delay: 1s;
}

.gradient-text {
  background: linear-gradient(to right, #97caeb 0%, #0d269f 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper-container {
  width: 100%;
  height: 592px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  position: relative;
  overflow: hidden;
}
.image-container {
  width: 100%;
  height: 100%;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gradient-text {
  background-image: linear-gradient(to bottom, #97caeb, #3a50b3);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.bg-radial-gradient {
  background: radial-gradient(circle, #37a3f1 32%, #3a50b3 100%);
}

.fade-in {
  animation: fadeIn 1s forwards;
}

/* Fade-out animation */
.fade-out {
  animation: fadeOut 1s forwards;
}

.fade-text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.fadeIn1 {
  opacity: 1;
}
.fadeOut1 {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}
